body {
    background: #f1f7fc;
    margin: 0;
}

.register-photo {
    height: 80vh;
    background: #f1f7fc;
    padding: 80px 0;
    display: flex;
}

@media (max-width: 510px) {

    .register-photo .image-holder {
        display: none !important;
    }

    .register-photo .form-container {
        width: 100%;
    }

    .register-photo form {
        padding: 10vh 0 !important;
    }

    .register-photo form h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.register-photo .image-holder {
    display: table-cell;
    width: 40%;
    background: url('./assets/cryptonite.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}


.register-photo .form-container {
    display: table;
    max-width: 100vw;
    width: 60%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
    display: table-cell;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    color: #505e6c;
}

@media (max-width:992px) {
    .register-photo form {
        padding: 40px;
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
    margin-left: 40px;
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    color: white;
    background: #097969;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
    margin-top: 10px;
    text-shadow: none;
    outline: none !important
}

.register-photo form .btn-primary:hover {
    background: #5F9EA0;
}

.register-photo form .btn-primary:active {
    background: green
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}

input[type=file]::file-selector-button {
    margin-top: 10px;
    margin-right: 15px;
    border: none;
    border-bottom-width: 0px;
    background: #5a5a5a;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #808080;
}

input[type=file] {
    margin-left: 40px;
}

.centered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px
}

.footer {
    position: relative;
    bottom: -6.75vh;
    left: 0;
    width: 100%;
    background-color: #097969;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo {
    width: 60px;
    margin-top: 10px;
}

.footer a {
    color: #b9cfc8;
    text-decoration: underline;
}

@media (min-width: 769px) {
    .logos {
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar-mobile {
    display: none;
}

.mobile-menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.mobile-menu {
    width: 119vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5vh;
    left: 0.02vh;
    background-color: #3c7a6a;
    border: 1px solid #f1f7fc;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar-left {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }
}

.rules-container {
    padding: 80px 20px;
}

.rule-section {
    margin-bottom: 20px;
}

.firstPlace {
    color: gold;
}

.secondPlace {
    color: silver;
}

.thirdPlace {
    color: #CD7F32;
}

@tailwind base;
@tailwind components;
@tailwind utilities;