.submit-success {
    background-color: #f1f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .submit-success p {
    color: #808080;
    font-size: 24px;
    text-align: center;
  }
  